<section class="section contacts" id="contacts">
    <div class="container">
        <h2 class="title fw8 lt has-line fade_in">
            Наші контакти
        </h2>

        <div class="contacts-wrapper mb">
            <div class="contacts-item">
                <p class="t-min2 tac lt fw8 mbm fade_in">
                    Дзвоніть
                </p>
                <div class="phone">
                    <div class="online tsm13 mbm lt">
                        <span class="fw8">По буднях</span> с 9:00-20:00
                    </div>

                    <div class="phone-content">
                        <div class="phone__img">
                            <img src="./assets/img/phone.png" alt="#">
                        </div>

                        <div class="phone-links">
                            <a href="tel: +38 (068) 377 51 71" class="phone__link link text fw8">
                                +38 (068) 377 51 71
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts-item">
                <a href="#" class="logo__img">
                    <img src="./assets/img/logo.png" alt="#">
                </a>
            </div>
            <div class="contacts-item">
                <div class="address__img">
                    <img [src]="'./assets/img/address.png'" alt="#">
                </div>
    
                <div class="address-items tsm13">
                    <div class="address__item">
                        <a href="#modal-map-1" class="address__link link link--underline js-btn lt fw8">м. Чернівці вул. Чкалова 21б</a>
                    </div>
                </div>
            </div>
            <div class="contacts-item">
                <p class="t-min2 tac lt fw8 mbm fade_in">
                    Пишіть онлайн
                </p>
                <div class="socials-items">
                    <a href="https://t.me/Vashii_vorota" class="socials__item is-telegram">
                        <img src="./assets/img/telegram.png" alt="#">
                    </a>
                    <a href="viber://add?number=380683775171" class="socials__item is-viber">
                        <img src="./assets/img/viber.png" alt="#">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>