<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="logo footer-logo">
                <a href="#" class="logo__img">
                    <img src="./assets/img/logo.png" alt="#">
                </a>

                <div class="logo__text tsm13 lt">
                        <span class="fw8">Підбір, встановлення і обслуговування автоматики <br>
                        для воріт</span>
                </div>
            </div>

            <p class="tsm10 fw5 tac lt">
                Copyright 2021 <br>
                Всі права захищені
            </p>
            
            <div class="address__img">
                <img [src]="'./assets/img/address.png'" alt="#">
            </div>

            <div class="address-items tsm13">
                <div class="address__item">
                    <a href="#modal-map-1" class="address__link link link--underline js-btn lt fw8">м. Чернівці вул. Чкалова 21б</a>
                </div>
            </div>

<a href="" target="_blank" class="link link--underline footer-link">
                
            </a>
           </div>
    </div>
</footer>