<main class="main main--automation">
    <header class="header lt">
           <div class="container-big">
               <div class="header__inner">
                   <div class="logo header-logo">
                       <div class="logo header-logo">
                       <a href="index.html" class="logo__img">
                           <img src="./assets/img/logo.png" alt="#">
                       </a>
                       <div class="logo__text tsm13">
                           <span class="fw8">Підбір, встановлення і обслуговування автоматики&nbsp;<br>
                            </span>
                            </div>
                   </div>
                   </div>
                   <div class="address header-address">
                       <div class="address__img">
                           <img [src]="'./assets/img/address.png'" alt="#">
                       </div>
   
                       <div class="address-items tsm13">
                           <div class="address__item">
                               <a href="#modal-map-1" class="address__link link link--underline js-btn lt fw8">м. Чернівці</a>&nbsp;вул. Чкалова 21б
                           </div>
                       </div>
                   </div>
   
                   <div class="socials header-socials">
                       <div class="online tsm13 mbm">
                           <span class="fw8">Натискайте</span>&nbsp;і розпочніть спілкування</div>
   
                       <div class="socials-items">
                           <a href="https://t.me/Vashii_vorota" class="socials__item is-telegram">
                               <img [src]="'./assets/img/telegram.png'" alt="#">
                           </a>
                           <a href="viber://add?number=380683775171" class="socials__item is-viber">
                            <img src="./assets/img/viber.png" alt="Viber">
                            </a>                        
                       </div>
                   </div>
   
                   <div class="phone header-phone">
                       <div class="online tsm13 mbm">
                           <span class="fw8">По буднях</span>&nbsp;з 9:00-20:00
                       </div>
   
                       <div class="phone-content">
                           <div class="phone__img">
                               <img src="./assets/img/phone.png" alt="#">
                           </div>
   
                           <div class="phone-links">
                               <a href="tel:+38 (068) 377 51 71" class="phone__link link text fw8">
                                   +38 (068) 377 51 71
                               </a>
                           </div>
                       </div>
                   </div>
   
                   <div class="nav__mob">
                       <div class="nav__burger"> <span class="nav__burger-item"></span> <span class="nav__burger-item"></span> <span class="nav__burger-item"></span></div>
                   </div>
               </div>
   
               <nav class="nav">
                   <div class="nav__close">
                   </div>
   
                   <ul class="nav__inner text ttu">
                       <li class="nav__item">
                           <a href="/">
                               головна</a>
                       </li>
                       <li class="nav__item">
                           <a href="#quiz">розрахунок
                           </a>
                       </li>
                       <li class="nav__item">
                           <a href="#offer">
                               переваги</a>
                       </li>
                       <li class="nav__item">
                           <a href="#contacts">
                               контакти</a>
                       </li>
                   </ul>
               </nav>
           </div>
       </header>
   
       <section class="section hero lt">
           <div class="container">
               <div class="hero__inner">
                   <h1 class="title-num fw8 hero-title">
                       Автоматика для<br> в'їзних та гаражних воріт
                   </h1>
   
                   <p class="title hero-subtitle fade_in">
                       по Чернівецькій області продаж і встановлення</p>
   
                   <div class="hero-items not-slider">
                       <div class="hero-item">
                           <p class="text-md">Термін встановлення</p>
   
                           <p class="title fw6 fade_in">від 2 днів</p>
                       </div>
                       <div class="hero-item">
                           <p class="text-md">
                               Гарантія
                           </p>
   
                           <p class="title fw6 fade_in">
                               до 4 років</p>
                       </div>
                       <div class="hero-item">
                           <p class="text-md">
                               Термін служби</p>
   
                           <p class="title fw6 fade_in">
                               17 років</p>
                       </div>
                   </div>
   
                   <div class="hero-wrapper">
                       <a href="#quiz" class="btn">
                           <span class="btn-blick"></span>
                           <span class="btn-text text24">
                               Розрахувати вартість
                           </span>
                       </a>
                       <div class="hero-click">
                           <div class="hero-click__img">
                               <img src="./assets/img/click.png" alt="#">
                           </div>
                           
                           <p class="text">Прямо на сайті з<br>допомогую     калькулятора</p>
                       </div>
                   </div>
               </div>
           </div>
       </section>
   </main>