<section class="section verified">
    <div class="container">
        <div class="verified-items">
            <div class="verified-item">
                <p class="t-min2 fw8 mbs fade_in">
                    Надійність</p>

                <p class="text">
                    Висока працездатність двигунів<br>
                    підтверждена вибором тисяч<br>клієнтов по всьому світі</p>

                <div class="verified-item__img">
                    <img src="./assets/img/ver-1.png" alt="#">
                </div>
            </div>
            <div class="verified-item verified-item--mid">
                <p class="t-min2 fw8 mbs fade_in">
                    Функціональність
                </p>

                <p class="text">
                    Наявність автоматичного приводу<br>відкриває/закриває ворота дистанційно, <br>за допомогою пульта-передавача</p>

                <div class="verified-item__img">
                    <img src="./assets/img/ver-2.png" alt="#">
                </div>
            </div>
            <div class="verified-item">
                <p class="t-min2 fw8 mbs fade_in">
                    Стильний дизайн
                </p>

                <p class="text">
                    Над зовнішнім оформленям корпусів <br>двигунів працювали ведучі<br>європейскі дизайнери</p>

                <div class="verified-item__img">
                    <img src="./assets/img/ver-3.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>