<section class="section offer" id="offer">
    <div class="container--left">
        <h2 class="title-lg tac mbs fade_in">
            Запропонуємо&nbsp;<span class="fw7">додаткові опції,</span>
        </h2>

        <p class="t-min2 tac fade_in">які нададуть зручність в користуванні</p>

        <div class="offer-inner">
            <div class="offer-left">
                <p class="t-min fade_in">Запропонуємо сервісні послуги:
                </p>

                <div class="offer-items">
                    <div class="offer-item">
                        <div class="offer-item__wrapper">
                            <p class="t-min2 fw8 mbs has-square fade_in">
                                Монтаж автоматики і воріт</p>

                            <p class="text24">Встановимо автоматику та ворота<br>
                                в будь-якому місті України</p>
                        </div>

                        <div class="offer-item__img">
                            <img src="./assets/img/offer-item-1.png" alt="#">
                        </div>
                    </div>
                    <div class="offer-item">
                        <div class="offer-item__wrapper">
                            <p class="t-min2 fw8 mbs has-square fade_in">
                                Капітальний і поточний ремонт
                            </p>

                            <p class="text24">
                                Виконаємо будь-який ремонт воріт чи автоматики <br>
                                с повною заміною зношених деталей
                            </p>
                        </div>

                        <div class="offer-item__img">
                            <img src="./assets/img/offer-item-2.png" alt="#">
                        </div>
                    </div>
                    <div class="offer-item">
                        <div class="offer-item__wrapper">
                            <p class="t-min2 fw8 mbs has-square fade_in">
                                Гарантійне і сервісне <br>
                                обслуговування</p>

                            <p class="text24">
                                Здійснюємо обслуговування і подовження<br>терміну експлуатації воріт і автоматики
                            </p>
                        </div>

                        <div class="offer-item__img">
                            <img src="./assets/img/offer-item-3.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-right">
                <p class="t-min mb fade_in">
                    Доукомлектуємо по Вашому бажанню:
                </p>

                <div class="offer-blocks">
                    <div class="offer-block" style="background-image: url(./assets/img/offer-1.jpg);">
                        <p class="text24 lt has-square">Хвірткою</p>
                    </div>
                    <div class="offer-block" style="background-image: url(./assets/img/offer-2.jpg);">
                        <p class="text24 lt has-square">Вікнами</p>
                    </div>
                    <div class="offer-block" style="background-image: url(./assets/img/offer-3.jpg);">
                        <p class="text24 lt has-square">
                            Ригельним замком</p>
                    </div>
                    <div class="offer-block" style="background-image: url(./assets/img/offer-4.jpg);">
                        <p class="text24 lt has-square">
                            Замком-засувом&nbsp;<br></p>
                    </div>
                    <div class="offer-block" style="background-image: url(./assets/img/offer-5.jpg);">
                        <p class="text24 lt has-square">
                            Вентиляційною&nbsp;<br>
                            решіткою</p>
                    </div>
                    <div class="offer-block" style="background-image: url(./assets/img/offer-6.jpg);">
                        <p class="text24 lt has-square">
                            Декоративними<br>
                            накладками
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>